.contact-icons{
    background-position:center;
    background-repeat: no-repeat;
    border: 1px solid hsla(39, 100%, 2%, 0.36);
    margin:auto;
    overflow:hidden;
    width:300px;
    height:50px;
}

.contact-icons-sub{
    width:300px;
    height:50px;
    position:relative;
    bottom:-50px;
    padding-top:12px;
    transition: bottom 0.8s ease;
}

#contactp {
	text-align:center;
}

#Email{
	background-color: #dd4b39;
    background-image: url("/images/icons/Gmail.png");
	background-size: 50px 50px;
}
#Email:hover > #Emailsub{
    bottom:0;
}
#Emailsub {
    position: relative;
    background-color: #dd4b39;
}

#Facebook{
    background-color: #3b5999;
    background-image: url("/images/icons/Facebook.png");
	background-size: 50px 50px;
}
#Facebook:hover > #Facebooksub{
    bottom:0;
}
#Facebooksub {
    background-color: #3b5999;
}

#Whatsapp{
	background-color: #25D366;
    background-image: url("/images/icons/WhatsApp.png");
	background-size: 50px 50px;
}
#Whatsapp:hover > #Whatsappsub{
    bottom:0;
}

#Whatsappsub {
    background-color: #25D366;
}

#Instagram{
    background-image: url("/images/icons/Instagram.png");
	background-size: 300px 50px;
}
#Instagram:hover > #Instagramsub{
    bottom:0;
}
#Instagramsub {
    background-color: #e4405f;
}

#Discord{
	background-image: url("/images/icons/Discord.png");
	background-color: #2F3136;
	background-size: 50px 50px;
}
#Discord:hover > #Discordsub{
    bottom:0;
}
#Discordsub {
    background-color: #2F3136;
}

#Facebook a {
	color:white;
}

#Discord a {
	color: white;
}